/* Ensure the body and html take up full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Set up the grid layout */
body {
  display: grid;
  grid-template-rows: 1fr auto; /* 1fr will take available space, 'auto' for the footer */
}

/* The main content section should take all available space */
.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Makes the main content take all available space */
}



/* Card and button styling */
.card-body {
  padding: 15px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}

/* Button styling */
.btn-success, .btn-danger {
  border-radius: 10% !important;
  padding: 15px;
  font-size: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-success:hover, .btn-danger:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-body {
    padding: 15px;
  }

  .btn-success, .btn-danger {
    width: 50px;
    height: 50px;
  }
}
